################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/source_test/FileContentIndex/merges/c068d80c-496d-463e-8e56-321f29528488.vsidx
