################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/source_test/FileContentIndex/merges/c068d80c-496d-463e-8e56-321f29528488.vsidx
/.vs/source_test/FileContentIndex/59a20330-761a-4bfb-b91f-ff53dbf2a097.vsidx
/.vs/source_test/FileContentIndex/db2460b6-3e83-4383-9b3a-3f1942db4048.vsidx
/.vs/source_test/FileContentIndex/bba291e0-9640-4333-98d1-304e4201b13e.vsidx
/.vs/source_test/FileContentIndex
